<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="UI.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="UI.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="apiKey" value="e16c965046e51516c3e171" />
    <add key="secrateKey" value="Tlpy045@M5" />
	  <add key="UpColor" value="Green"/>
	  <add key="DownColor" value="Red"/>
	  <add key="BackgroundColor" value="WhiteSmoke"/>
  </appSettings>
 
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <UI.Settings1>
      <setting name="UpColor" serializeAs="String">
        <value>LightGreen</value>
      </setting>
      <setting name="DownColor" serializeAs="String">
        <value>HotPink</value>
      </setting>
    </UI.Settings1>
  </userSettings>
  <applicationSettings>
    <UI.Settings1>
      <setting name="BackgrounGolor" serializeAs="String">
        <value>WhiteSmoke</value>
      </setting>
    </UI.Settings1>
  </applicationSettings>
</configuration>